// variables
$color-primario:#F87575;
$color-secundario:#77685D;//colores
$tamanio-titulo:48px;
$importante:false;

h1{
  color: $color-primario;
  font-size: $tamanio-titulo;
  //uso de booleanos
  @if $importante{
    background-color: $color-secundario;
  }
}

//mixins
@mixin padding($valor,$bg,$color-texto){
  padding: $valor;
  background-color:$bg;
  color:$color-texto;
}

@mixin flexComponent($direccion:row,$centrar:false){
  flex-direction: $direccion;
  display:flex;
  @if $centrar{
    justify-content: center;
  } @else {
    justify-content: space-between;
  }
}

.boton{
  @include padding(20px,blue,white);
}

.resumenes{
  @include flexComponent(row,true);
}

.menu{
  max-width:500px;
  background-color: $color-secundario;

  .menu__lista {
    list-style: none;
    height:50px;
    @include flexComponent(row,false );

    .menu__item{
      margin-top:10px;

      .menu__link{
        color:white;
        text-decoration: none;
      }
      
      &:hover{
        background-color: gray;
      }
    }
  }
}
