/* * es un selector pero para todos los elementos */
*{
  /* HECAEDCIMAL: #RRGGBB */
  border:1px solid #45FC56;
}

body{
  font-size:20px;
}

header{
  /* píxeles */
  height:500px;
  width:400px;
  font-size:36px;
}

p{
  /* rgb(0-255,0-225,0-255 */
  border:2px solid rgb(120, 200, 240);
  /* el porcentaje trabaja en base al tamaño del padre sea ancho o alto */
  width:50%;
  /* em coge el tamaño del padre mas cercano */
  font-size:0.5em;
}

label{
  /* el tamaño más lejano, en este caso el body */
  font-size:1rem;
}

div{
  border:4px solid purple;
  width:100vw;
  height:100vh;
}

h1{
  font-size:5vw;
}