.container {
  max-width: 768px;
  margin: 0 auto;
}
.container--fluid {
  margin: 0;
  max-width: 100%;
}
.container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.container__col {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.container__col-1 {
  -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
}
.container__col-2 {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
}
.container__col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.container__col-4 {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}
.container__col-5 {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
}
.container__col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.container__col-7 {
  -ms-flex-preferred-size: 58.3333333333%;
      flex-basis: 58.3333333333%;
}
.container__col-8 {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
}
.container__col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
.container__col-10 {
  -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
}
.container__col-11 {
  -ms-flex-preferred-size: 91.6666666667%;
      flex-basis: 91.6666666667%;
}
.container__col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container {
  background-color: gray;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container__row {
  background-color: blue;
}